Repository mattiasholmqvist/findash, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, infrastructure, documentation, domain, event-sourcing, cqrs, testing, dependencies, github-actions, specify-framework

test(frontend): add BAS account verification script stub
  frontend/verify-bas-fix.mjs
Labels: frontend

fix(frontend): resolve TypeScript build errors for production deployment
  frontend/src/types/api-types.ts
  frontend/src/vite-env.d.ts
  frontend/tests/integration/auth-flow.test.tsx
  frontend/tests/integration/bas-filtering.test.tsx
  frontend/tests/integration/infinite-scroll.test.tsx
  frontend/tests/integration/mock-config.test.tsx
  frontend/tests/integration/responsive.test.tsx
  frontend/tests/integration/transaction-list.test.tsx
  frontend/tsconfig.json
Labels: frontend, testing

fix(test): resolve import paths and response structure issues in contract tests
  frontend/tests/contract/accounts-get.test.ts
  frontend/tests/contract/transaction-detail.test.ts
  frontend/tests/contract/transactions-get.test.ts
  frontend/tsconfig.json
  frontend/vitest.config.ts
Labels: frontend, testing

fix(ci): resolve linting configuration issues in GitHub Actions workflows
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-infrastructure.yml
  frontend/.eslintrc.cjs
Labels: frontend, github-actions

fix(ci): complete linting configuration optimization for frontend CI workflows
  .github/workflows/ci-frontend.yml
  frontend/.eslintrc.cjs
Labels: frontend, github-actions

fix(ci): add missing test scripts and enable graceful failure handling for MVP
  .github/workflows/ci-frontend.yml
  frontend/package.json
Labels: frontend, dependencies, github-actions

fix(tests): resolve major component test failures and improve test reliability
  frontend/tests/integration/auth-flow.test.tsx
  frontend/tests/integration/bas-filtering.test.tsx
  frontend/tests/integration/infinite-scroll.test.tsx
  frontend/tests/integration/mock-config.test.tsx
  frontend/tests/integration/responsive.test.tsx
  frontend/tests/integration/transaction-list.test.tsx
Labels: frontend, testing

fix(tests): completely resolve frontend unit/contract test failures
  frontend/tests/contract/auth-login.test.ts
  frontend/tests/contract/auth-logout.test.ts
  frontend/tests/contract/mock-config.test.ts
  frontend/tests/contract/transaction-detail.test.ts
  frontend/tests/contract/transactions-get.test.ts
Labels: frontend, testing

test(auth): fix authentication flow integration tests
  frontend/tests/integration/auth-flow.test.tsx
Labels: frontend, testing

test(integration): fix transaction list tests for MVP scope
  frontend/tests/integration/transaction-list.test.tsx
Labels: frontend, testing

test(integration): skip unimplemented MVP features
  frontend/tests/integration/bas-filtering.test.tsx
  frontend/tests/integration/infinite-scroll.test.tsx
  frontend/tests/integration/mock-config.test.tsx
  frontend/tests/integration/responsive.test.tsx
Labels: frontend, testing

.github/labeler.yml:

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - '*.tsx'
      - '*.ts'

backend:
  - changed-files:
    - any-glob-to-any-file:
      - backend/**/*
      - backend/src/**/*.ts

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - infrastructure/**/*
      - '**/*.cdk.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**/*
      - specs/**/*.md

domain:
  - changed-files:
    - any-glob-to-any-file:
      - backend/src/domain/**/*

event-sourcing:
  - changed-files:
    - any-glob-to-any-file:
      - backend/src/infrastructure/event-store/**/*
      - backend/src/domain/events/**/*

cqrs:
  - changed-files:
    - any-glob-to-any-file:
      - backend/src/application/commands/**/*
      - backend/src/application/queries/**/*

testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/*.test.tsx'
      - '**/test/**/*'
      - '**/tests/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/package.json'
      - '**/package-lock.json'

github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*

specify-framework:
  - changed-files:
    - any-glob-to-any-file:
      - .specify/**/*
      - specs/**/*
